.error {
    color: #e74c3c;
}

.glyphicon {
    font-size: 20px;
}

.todo-item {
    font-size: 22px;
}

.ng-submitted .ng-invalid {
    border-color: #e74c3c;
}

/*.ng-pristine {
    border-color: #e74c3c;
}
.ng-invalid.ng-dirty {
    border-color: #e74c3c;
}
.ng-valid.ng-dirty {
    border-color: #2ecc71;
}*/
