.error {
    color: #e74c3c;
}

.ng-submitted .ng-invalid {
    border-color: #e74c3c;
}

/*.ng-pristine {
    border-color: #e74c3c;
}
.ng-invalid.ng-dirty {
    border-color: #e74c3c;
}
.ng-valid.ng-dirty {
    border-color: #2ecc71;
}*/
